@import url(normalize.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
}

.weare{
    background: rgb(248,204,119);
    background: linear-gradient(90deg, rgba(248,204,119,1) 55%, rgba(255,255,255,1) 100%), url(style.png) no-repeat center cover;
    background-image: url(style.png);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 240px;
    display: grid;
    gap: 50px;
    grid-template-columns: 90px auto 220px;
}

.but{
    
    background-color: #F7C35F;
    padding: 25px 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-out 0.2s;
}

.but:hover{
    background-color: #ffaf19;
}

.but:focus{
    border: #344C31 groove 5px;
}

.but:active{
    transform: scale(0.9) translateY(5px);
}

.discover{
    font-size: 0.3em;
    color: #344C31;
}

.market{
    color: #344C31;
}